<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Registeration Form</h2>
    <form action="/register" method="post">
        {{ msg }}
        </br>
        <input type="text" name="name" placeholder="Enter your Username" required></br></br>
        <input type="email" name="email" placeholder="Enter your Email ID" required></br></br>
        <input type="password" name="password" placeholder="Enter your Password" required></br></br> 
    </br>
    <button type="submit" id="button">Register</button>
    </form>
    </br>
    <p>already have an account? please <a href="/login">click here</a> to login! </p>
</body>
</html>